@import "tailwindcss";

@theme {
    --color-page-bg: #ffeadb;
    --color-primary: #15252d;
    --color-primary-dark: #0e1a23;
    --color-primary-light: #2e3f52;
    --color-secondary: #ffeadb;
    --color-secondary-dark: #e04113;
    --color-secondary-darkest: #c3001b;
    --color-tertiary: #18f562;
    --font-inria: 'Inria Serif', sans-serif;
}
